body {
    background-color: #3f3f3f;
    position: relative;
    background-image: url(imgs/linux_bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

* {
    color: #ffffff;
}

footer p {
    color: #00fefc
}

nav a, h5 {
    color: black
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body a:visited{
    filter: contrast(40%);
    color: #555555;
}

footer{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

header {
    font-family: "consolas";
    text-align: center;
    font-size: 36px;
    background-color: #00000011;
    text-transform: uppercase;
}

nav {
    background-color: #3f3f3f;
    margin-top: -1px;
    border-bottom: 1px solid #555555;
    border-top: 1px solid #555555;
}

.navbar-brand {
    margin-left: 12px;
}

.navbar-toggler {
    margin-right: 15px;
}

main {
    padding: 0 65px;
    padding-top: 20px;
    text-align: justify;
}

h2, h3, h4{
    padding-top: 20px;
    margin-left: -15px;
}

div[class="grid-container"]{
    display: grid;
    column-gap: 30px;
}

div[class$="column"]:nth-child(1){
    grid-column: 1;
}

div[class$="column"]:nth-child(2){
    grid-column: 2;
}