body {
    background-color: #3f3f3f;
    position: relative;

    /* background-image: url(); */
}

footer p {
    color: #00fefc
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}